:root {
    --red: #e50914;
    --black: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    background: var(--black);
    font-family: 'Times New Roman', cursive;
    letter-spacing: 1px;
    color: #fff;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: start;
}


header .container nav {
    margin-left: 20px;
}


header .logo {
    color: var(--red);
    font-family: 'Bebas Neue', cursive;
    margin-left: 20px;
    font-size: 40px;
    letter-spacing: 5px;
    margin-top: 7px;
    
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    transition: color 0.2s;
}

header nav a:hover {
    color: #fff;
}

/* ==== Main Movie ===== */

div.main-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%),  url('../img/capa-house.jpg') no-repeat center top;
    height: 650px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main .main-movie .description {
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 20px;
}

main .title {
    font-size: 60px;
    text-transform: uppercase;
}

main .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    height: 50%;
}

.button {
    background: rgba(128, 128, 128, 0.616);
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 35px;
    letter-spacing: 2px;
    margin-right: 15px;
    font-family: sans-serif;
    cursor: pointer;
    transition: .3s ease all;
    outline: none;
}

.button:nth-child(1) {
    background: #fff;
    color: #000;
}

.button:nth-child(1):hover {
    background: rgba(255, 255, 255, 0.685);
    color: #000;
}

.button:hover {
    background: rgba(128, 128, 128, 0.363);
    color: #fff;
}

.button i {
    margin-right: 8px;
}

.main-movie .container {
    width: 70%;
}

/*  Carousel  */

.categories{
    margin: 10px 0 15px 10px;
}

.box-movie {
    height: 100%;
    width: 100%;
    display: block;
}

footer {
    text-align: center;
    padding: 20px;
}